h1{
    color: rgb(93, 215, 66);
    text-align: center;
}

.sobre-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    line-height: 1.6;
}

.boton{
    padding: 1.5rem;
    background-color: rgb(69, 2, 132);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 10%;
    color: white;
    border-radius: 1rem;
    font-size: 1.3rem;
    text-decoration: none;
    cursor: pointer;
}

.boton:hover{
    background-color: rgb(155, 85, 220);
    transition: .5s;
}